@using Dominio.Recursos
@{
    ViewBag.Title = Textos.Administracion_Titulo;
}
<br/>
<div class="row">
    <div class="col-xs-12 bordeGris">
        @using (Ajax.BeginForm("Index", null, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gridContainer" }, new { id = "search-form", @class = "form-horizontal" }))
        {
            <input type="text" name="filtro" class=""/>
            <button type="submit" class="btn">@Textos.Filtrar</button>
            @Html.ActionLink(Textos.Nuevo, "Crear", "Administracion", null, new { @class = "ajax-editar-link btn btn-primary pull-right" })
        }
    </div>
</div>
<div id="gridContainer">
    @Html.Partial("Listar")
</div>