<div id="fb-root"></div>
<section class="featured">
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title"><a href="@Url.Action("Index", "Natura")"><img src="~/Content/images/logo.png" alt="Natura"></a></p>
        </div>
        <div class="float-right">
            <ul class="caja-redes nav nav-pills">
                <li class="dropdown" id ="ComprasDropDown" >
                   <a href="#" id="ComprasDropDownButton" class="dropdown-toggle" data-toggle="dropdown" style="padding: 4px 8px 4px 4px; margin-right: 30px" ><i class="glyphicon glyphicon-shopping-cart"></i><span class="jewelCount" data-bind="text: cantidadDeProducto, visible: Productos().length > 0"></span></a>
                    <ul class="dropdown-menu" id ="ComprasList" style='min-width: 240px;' >
                        <li>
                            <ul data-bind="foreach: Productos">
                                <li><a class="quitarProducto" data-bind="click: $root.quitarProducto">×</a>
                                    <div class="producto-body">
                                        <strong class="producto-linea" data-bind="text: Nombre"></strong>
                                        <div class="producto-linea" style="margin-left: 10px" data-bind="text: PrecioVisible"></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li style="background-color:#a4d4e6; margin-top: 6px;padding-top: 4px;padding-bottom: 5px;">
                            <div class="producto-body">
                                <strong class="producto-linea" style="margin-left: 10px" data-bind="text: Total.Nombre"></strong>
                                <span class="producto-linea" data-bind="text: Total.PrecioVisible"></span>
                                <a class="btn btn-default btn-xs pull-right">Comprar</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#" style="padding: 4px"><i class="icon-twitter"></i><span></span></a></li>
                <li><a href="#" style="padding: 4px"><i class="icon-facebook"></i><span></span></a></li>
                <li><a href="#" style="padding: 4px"><i class="icon-google-plus"></i><span></span></a></li>
            </ul>
        </div>
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Natura")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</section>