<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://ser-revendedora.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>ser-revendedora.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ser-revendedora</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$ser-revendedora</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Repositorio.DbContexto" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ynlpxbyypb.database.windows.net,1433;Initial Catalog=NaturaUrquizaDb;Integrated Security=False;User ID=aolivera@ynlpxbyypb;Password=martes-12;Connect Timeout=30;Encrypt=True" Name="Server=tcp:ynlpxbyypb.database.windows.net,1433;Database=NaturaUrquizaDb;User ID=aolivera@ynlpxbyypb;Password=martes-12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Repositorio.DbContexto, Repositorio" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Repositorio.DbContexto-Web.config Connection String">
      <ParameterValue>Server=tcp:ynlpxbyypb.database.windows.net,1433;Database=NaturaUrquizaDb;User ID=aolivera@ynlpxbyypb;Password=martes-12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Repositorio.DbContexto" />
  </ItemGroup>
</Project>