@using Dominio.Recursos
@{
    ViewBag.Title = Textos.Menu_Titulo;
}
<script type='text/javascript' src='~/Scripts/naturaUrquiza.index.js'></script>
<style>
    .btn-default 
    {
        border-color:transparent!important    
    }
    p
    {
        margin-bottom: 0px!important
    }
    h6
    {
        margin-bottom: 0px!important
    }
</style> 
<br/>
<div id="gridContainer">
    @Html.Partial("Listar")
</div>

<div class="modal fade " id="dialogo-comprar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header cabecera">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="dialogo-comprar-title" style="color: #fff">Carrito de Compras</h3>
            </div>
            <div class="modal-body" id="dialogo-comprar-body" style="padding-bottom: 0">
                @Html.Partial("Comprar")
            </div>
            <div class="modal-footer">
                <input id="dialogo-comprar-comprar" type="button" class="btn btn-primary" value="@Textos.Comprar"/>
                <input id="dialogo-comprar-cancelar" type="button" class="btn" data-dismiss="modal" value="@Textos.Cancelar"/>
            </div>
        </div>
    </div>
</div>
