@using Dominio.Recursos
@using NaturaUrquiza.Helpers
@{
    ViewBag.Title = Textos.Menu_Titulo;
}

<style>
    .btn-default 
    {
        border-color:transparent!important    
    }
    p
    {
        margin-bottom: 0px!important
    }
    h6
    {
        margin-bottom: 0px!important
    }
</style> 
<br/>
<div id="gridContainer">
    @Html.Partial("Listar")
</div>
