@model Dominio.Dto.ProductoDto
@{
       Layout = null;
}

<div id = "dialogo-ver-cuerpo" data-dialogo-titulo = "@Model.Nombre" data-url = "@Path.Combine("images/profile", Model.FotoPath ?? "")"></div>

@Html.DisplayTextFor(x => x.Descripcion)